/* Resetting and default styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(rgba(1, 56, 73, 0.7), rgb(25, 38, 92));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  position: relative;
  margin: auto;
  height: 100vh;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

div.menu {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
  color: white !important;
  font-size: 2rem;
  margin: 20px;

  padding: 0 8px;
  z-index: 500;
}

#info {
  /* width: 100%; */
  height: 100%;
  color: #fff;
  position: absolute;
  left: 100%;
  top: 0;
  right: 0;
  bottom: 0;

  background: url(../assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.info-details {
  /* width: 100%; */

  height: 100%;
  padding: 50px;
  text-align: center;
  color: #eaece3;
  background-color: rgba(1, 56, 73, 0.87);
}

.info-details h1 {
  margin-top: 10%;
}
.info-details a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.2rem;

  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  margin: 2rem;
  border: 1px solid orange;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.info-details a:hover {
  background-color: orange;
  color: #003;
}
.move {
  left: 0 !important;
}

/* styling for game container with all cubes */
.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  height: 500px;
  /* background-color: navy; */
  border-radius: 10px;
}

/* style for top left cube green */
.top-left {
  background-color: seagreen;
  border-top-left-radius: 10px;
}

/* style for top right cube red */
.top-right {
  background-color: firebrick;
  border-top-right-radius: 10px;
}

/* style for bottom left cube yellow */
.bottom-left {
  background-color: #cccc00;
  border-bottom-left-radius: 10px;
}

/* style bottom right cube blue */
.bottom-right {
  background-color: royalblue;
  border-bottom-right-radius: 10px;
}

/* style for game control centre */
.inner {
  width: 25%;
  /* height: 200px; */
  background-color: rgba(87, 148, 148, 0.5);
  position: absolute;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
}

/* Style for PLAY button */
.inner button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  background-color: rgb(42, 158, 158);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for Toggle Switch */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 25px;
  height: 24px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

.switch-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* placeholder for Counter */
.counter {
  width: 60px;
  height: 30px;
  background-color: rgba(128, 0, 0, 0.7);
  margin: 10px auto;
  text-align: center;
  line-height: 30px;
}

.inner h5 {
  margin-top: 0;
}

.func {
  display: flex;
  justify-content: space-around;
}

/* Styling for small screens */

@media only screen and (max-width: 750px) {
  .game-container {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    height: 400px;
  }

  .func {
    display: flex;
    flex-direction: column;
  }

  .inner {
    padding: 10px;
  }

  .inner button {
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    margin: 10px 0;
  }

  span {
    display: inline-block;
  }
}
